---
import { useI18n } from '~/libs/i18n';

const { t } = useI18n(Astro.url);
---

<footer class="container my-half-page">
  <div class="mx-auto max-w-content font-serif text-xs text-second">
    <div class="flex items-center">
      <div class="mx-auto" aria-label="More on this site">
        Forked from <a class="link" href={t('footer.copyright-url')} target="_blank">@{t('footer.copyright')}</a>
      </div>
    </div>
  </div>
</footer>
