---
import { NAV } from '~/consts';
import {
  getLangFromUrl,
  type Language,
  useTranslatedPath,
  useTranslations,
} from '~/libs/i18n';
import { cn } from '~/libs/utils';

import { DotIcon } from './ui/icons';

type Props = {
  class?: string;
  lang?: Language;
  highlightNavItem?: (typeof NAV)[number];
};

const { props, url } = Astro;

const currentNavItem = url.pathname.split('/').filter(Boolean).join('');

const lang = props.lang ?? getLangFromUrl(url);
const t = useTranslations(lang);
---

<div class={cn('flex items-center gap-2 font-serif text-sm', props.class)}>
  <div class="flex items-center gap-2">
    {
      NAV.map((navItem, i) => (
        <>
          <a
            class={cn(
              'external-link',
              (navItem === currentNavItem ||
                navItem === props.highlightNavItem) &&
                'font-bold no-underline before:bg-selection before:ring-border hover:before:ring-1 current-active-menu-link-tab',
            )}
            href={`/${navItem}`}>{t(`nav.${navItem}`)}
          </a>
          {i < NAV.length - 1 && <DotIcon className="h-2 w-2 text-second" />}
        </>
      ))
    }
  </div>
</div>
